body {
  background-color: #002231;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin: 0px;
}

#body {
  margin: 0 auto;
  position: relative;
  max-width: 100%;
}

#header {
  top: 0px;
  left: 0px;
  text-align: left;
  padding: 10px 20px;
  margin: 0px;
  overflow: visible;
  background-color: #002b47;
  filter: drop-shadow(0px 0px 2px #000a1a);
  display: block;
  align-items: left;
}

#header p {
  font-size: 18px;
  font-weight: semi-bold;
  font-family: "Merriweather", serif;
  margin: 0;
  vertical-align:middle;
  display:inline-block;
}

#footer {
  margin: 0 auto;
  padding: 0px 5px;
  text-align: center;
  background-color: #0078ae;
}

.sat_icon {
  width: 2rem;
  margin: 0.25rem;
  padding: 2px;
  vertical-align: middle;
}

.legend {
  width: 100%;
  font-size: 11px;
  color: #0078ae;
  margin: 10px 0;
  text-align: center;
}

.legend a {
  color: #0078ae;
  text-decoration: none;
}

.footnote {
  text-align: center;
  font-size: 10px;
  border-top: 1px solid #c0c2c4;
  padding-top: 10px;
}

.footnote a {
  text-decoration: none;
  color: #c0c2c4;
}

.node {
  cursor: pointer;
}

.node circle {
  cursor: pointer;
  fill: #0078ae;
  stroke: #0078ae;
  stroke-width: 1.5px;
}

.node text {
  font-size: 12px;
  fill: white;
}

path.link {
  fill: none;
  stroke: #4b5563;
  stroke-width: 1px;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

@media screen and (min-width: 600px) {
  #header {
    padding: 10px 40px;
  }
}

@media screen and (min-width: 768px) {
  #header {
    padding: 10px 60px;
  }
}

@media screen and (min-width: 992px) {
  #header {
    padding: 10px 80px;
  }
}

@media screen and (min-width: 1200px) {
  #header {
    padding: 10px 100px;
  }
}
