body {
  background-color: #161616;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color:#fff;
  margin: 0px;
}

#body {
  margin: 0 auto;
  position: relative;
}

#header {
  font-size: 18px;
  font-weight: bold;
  top: 0px;
  left: 0px;
  text-align: left;
  padding: 10px 180px;
  margin: 0px;
  overflow: visible;
  background-color: #010101;
}

#footer {
  margin:0 auto;
  padding:5px;
}

.sat_icon {
  width: 1.75rem;
  margin: 0.25rem;
  vertical-align: middle;
}

.legend {
  right: 0px;
  width: 330px;
  font-size: 11px;
  color: #333;
  position: absolute;
}

.legend a {
  color: #333;
  text-decoration:none;
}

.footnote {
  text-align:center;
  font-size:10px;
  border-top: 1px solid #121212;
}

.footnote a {
  text-decoration:none;
  color: #333;
}


.node {
  cursor: pointer;
}

.node circle {
  cursor: pointer;
  fill: #2d2d2d;
  stroke: #29B6F6;
  stroke-width: 1.5px;
}

.node text {
  font-size: 12px;
  fill: white;
}

path.link {
  fill: none;
  stroke: #4b5563;
  stroke-width: 1px;
}
