body {
  background-color: #002231;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color:#fff;
  margin: 0px;
}

#body {
  margin: 0 auto;
  position: relative;
}

#header {
  font-size: 18px;
  font-weight: semi-bold;
  font-family: "Merriweather", serif;
  top: 0px;
  left: 0px;
  text-align: left;
  padding: 10px 180px;
  margin: 0px;
  overflow: visible;
  background-color: #002b47;
  filter: drop-shadow(0px 0px 4px #010101);
}

#footer {
  margin:0 auto;
  padding:5px;
}

.sat_icon {
  width: 2rem;
  margin: 0.25rem;
  vertical-align: middle;
}

.legend {
  right: 0px;
  width: 330px;
  font-size: 11px;
  color: #0078ae;
  position: absolute;
}

.legend a {
  color: #0078ae;
  text-decoration:none;
}

.footnote {
  text-align:center;
  font-size:10px;
  border-top: 1px solid #0078ae;
}

.footnote a {
  text-decoration:none;
  color: #0078ae;
}


.node {
  cursor: pointer;
}

.node circle {
  cursor: pointer;
  fill: #0078ae;
  stroke: #0078ae;
  stroke-width: 1.5px;
}

.node text {
  font-size: 12px;
  fill: white;
}

path.link {
  fill: none;
  stroke: #4b5563;
  stroke-width: 1px;
}
.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

